genscan/analyze
genscan/buffs
genscan/configs
genscan/detectors
genscan/evaluators
genscan/generators
genscan/harnesses
genscan/probes
genscan/resources
genscan/data

include *.md
include *.txt
recursive-include genscan *.py
recursive-include genscan/analyze *.py *.jinja
recursive-include genscan/configs *.yaml
recursive-include genscan/resources *
recursive-include genscan/data *